:root {
    --primary-color: rgb(27, 27, 27);
    --secondary-color: rgb(241, 209, 25)
}

.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    color: white;   
    background-image:
    linear-gradient(to right, rgba(27, 27, 27, 0.7), rgba(27,27,27, 0.3)), 
    url("../images/Palms.jpg");
    background-size: cover;


}

.home-name{
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid;
    color: white; 
}

.home-name-last{
    font-weight: 700;
    color: var(--secondary-color);
}