:root {
    --primary-color: rgb(49, 49, 49);
    --secondary-color: rgb(241, 209, 25)
}

body{
    background: var(--primary-color);
    color: var(--primary-color);
    height: 70vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image:
    linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(27,27,27, 0.3)), 
    url("../images/Palms.jpg"); */
    background-size: cover;

}

h1, h2, h3{
    font-weight: 400;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main{
    height: 100%;
    width: 100%;
}

main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

}

main .social-icons  a {
    padding: 0.4rem;
    transition: all 0.5s ease-in-out;
    color: white;
}

main .social-icons a:hover {
    color: var(--secondary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: var(--secondary-color);
}